@import "tailwindcss";

@theme {
  --color-primary: #2F855A;
  --color-primary-light: #48BB78;
  --color-primary-dark: #276749;
  --color-earth: #B7791F;
  --color-earth-light: #D69E2E;
  --color-earth-dark: #975A16;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-gray-50);
    color: var(--color-gray-800);
  }
}
